<% if signed_in? %>
    <h1>Editing author</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @author %> |
<% else %>
    <p><%= link_to 'Sign in', signin_path %> to access this page</p>
<% end %>

<%= link_to 'Back', authors_path %>
