<h1>Books</h1>

<div id = "books_list">
    <%= render "books/books" %>
</div>

<br />

<% if signed_in? %>
 <%= render 'search' %><br />
 <%= link_to 'Add a book', new_book_path %>
<% else %>
 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
